#navbar nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 40px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	font-size: 20px;
	position: sticky;
	top: 0;
	background: white;
	z-index: 1000;
}

#navbar .nav-logo {
	display: flex;
	align-items: center;
}

#navbar .nav-links a:hover {
	/* color: white; */
	transition-duration: .3s;
	background-color: bisque;
	border: #f3c690;
	color: black;
	border-radius: 30px;
	padding: 10px;
	/* width: 100%; */
}

#navbar .nav-logo img {
	width: 50px;
	height: 50px;
}

#navbar .nav-icon img {
	width: 30px;
	height: 30px;
}

#navbar .nav-links {
	display: flex;
	align-items: center;
	flex: 1;
	gap: 5%;
}

#navbar .nav-links a {
	text-decoration: none;
	color: #333;
	/* font-weight: 500; */
}

#navbar .nav_login {
	border: 1px solid #333;
	padding: 7px 15px;
	border-radius: 10px;
	background-color: unset;
}

#navbar .nav-links_2 {
	display: flex;
	align-items: center;
	gap: 20px;
}

#navbar .phone-nav-links {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex: 1;
}

#navbar .phoneBrandLogo {
	display: flex;
	align-items: center;
}

#navbar.phoneBrandLogo img {
	margin-right: 10px;
}

#navbar .phone-nav-links a {
	text-decoration: none;
	color: #448e94;
	font-weight: bold;
	font-size: 30px;
}

@media screen and (max-width: 900px) {
	nav {
		padding: 20px 20px;
	}



}